
.back-g{
    background-color:#eceeea;
}

.grid-container {
    /* display: grid;
    grid-template-columns: 33% 33% 33%; */
    background-color:#b7e778;
    width: 700px;
    height: 400px;
    border-radius:30px;
    border:6px solid #ed7575;
    margin-top: 3%;
    margin-left: 3%;
    

  }

.myButton {
	-moz-box-shadow: 12px 20px 0px 3px #f0f0f0;
	-webkit-box-shadow: 12px 20px 0px 3px #f0f0f0;
	box-shadow: 12px 20px 0px 3px #d6d8d4;
	background-color:#be6284;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	border:6px solid #ed7575;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:25px;
	padding:32px 36px;
	text-decoration:none;
    text-shadow:0px 1px 0px #0a0a09;
    margin-top: 3%;
    margin-left: 3%;
}
.myButton:hover {
	background-color:#be6284;
}
.myButton:active {
	position:relative;
	top:1px;
}





.myButtonTwo {
	-moz-box-shadow: 12px 20px 0px 3px #f0f0f0;
	-webkit-box-shadow: 12px 20px 0px 3px #f0f0f0;
	box-shadow: 12px 20px 0px 3px #8eb65b;
	background-color:#40dab1;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	border:6px solid #ed7575;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:25px;
	padding:19px 35px;
	text-decoration:none;
    text-shadow:0px 1px 0px #0a0a09;
    margin-top: 3%;
    margin-left: 3%;
}
.myButtonTwo:hover {
	background-color:#40dab1;
}
.myButtonTwo:active {
	position:relative;
	top:1px;
}

        